<%= form_for(folder) do |f| %>
  <% if folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(folder.errors.count, "error") %> prohibited this folder from being saved:</h2>

      <ul>
      <% folder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form_for @folder do |f| %>
        <%= f.error_messages %>
        <p>
          <%= f.label :name %><br />
          <%= f.text_field :name %>
        </p>
        <p><%= f.submit "Create Folder" %></p>
    <% end %>




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
