<% unless user_signed_in? %>
    <h1>Welcome! Log In or Sign Up Today!</h1>
    <p>Eggplant Emoji</p>

<% else %>


    <div class="asset_list">
      <%= render :partial => "breadcrumbs" %>
      <div class="asset_list_header">
        <div class="file_name_header">File Name</div>
        <div class="file_size_header">Size</div>
        <div class="file_last_updated_header">Modified</div>
      </div>
      <% @folders.each do |folder| %>



          <div class="asset_details folder">

            <div class="file_name"><%= link_to folder.name, browse_path(folder) %></div>
            <div class="file_size"> - </div>
            <div class="file_last_updated"> - </div>

            <td><%= link_to 'Show', folder %></td>
            &nbsp
            <td><%= link_to 'Edit', edit_folder_path(folder) %></td>
            &nbsp
            <td><%= link_to 'Destroy', folder, method: :delete, data: { confirm: 'Are you sure?' } %></td>

            <p> </p>
          </div>
      <% end %>



      <!-- Listing Files -->
      <% @assets.each do |asset| %>
          <div class="asset_details file">

            <div class="file_name"><% file = asset.file_upload.to_s %>
              <%= File.basename(file,File.extname(file)).capitalize %>
             <%= File.extname(file).delete('.').upcase%></div>

            <div class="file_size"> - </div>
            <div class="file_last_updated"> - </div>

            <td><%= link_to 'Show', asset %></td>
            &nbsp
            <td><%= link_to 'Edit', edit_asset_path(asset) %></td>
            &nbsp
            <td><%= link_to 'Destroy', asset, method: :delete, data: { confirm: 'Are you sure?' } %></td>


          </div>
      <% end %>




      <ul id= "top_menu">

        <% if @current_folder %>
            <li><%= link_to "Upload", new_sub_file_path(@current_folder) %></li>
            <li><%= link_to "New Folder", new_sub_folder_path(@current_folder) %></li>
        <% else %>
            <li><%= link_to "Upload", new_asset_path %></li>
            <li><%= link_to "New Folder", new_folder_path %></li>
        <% end %>
      </ul>


    </div>





<% end %>
