<%= form_for @asset  do |f| %>
  <% if @asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% asset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :file_upload %><br>
    <%= f.file_field :file_upload%>

    <%= f.hidden_field :folder_id %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
