<!DOCTYPE html>
<html>

<<head>

  <title>ShareSpace |<%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  <%= stylesheet_link_tag "application", "redmond/jquery-ui-1.8.9.custom" %>
  <%= javascript_include_tag "jquery-1.4.4.min", "jquery-ui-1.8.9.custom.min" %>
  <%= javascript_include_tag "application" %>

  <!-- This is for preventing CSRF attacks. -->
  <%= javascript_include_tag "jquery.Rails" %>


  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>


  <body>
    <div class="header_wrapper">
      <div class="logo_left">
        <%= link_to "SHARE", root_url %>
      </div>
      <div class="logo_right">
        <%= link_to "SPACE", root_url%><!--#Link to needs to be changed-->

      </div>
      <div id="login_user_status">
        <% if user_signed_in? %>
            <%= current_user.email  %>
            |
            <%= link_to "Sign out", destroy_user_session_path %>
        <% else %>
            <em>Not Signed in.</em>
            <%= link_to 'Sign in', new_user_session_path%>
            or
            <%= link_to 'Sign up', new_user_registration_path%>
        <% end %>
      </div>
    </div>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
