<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag %>
    <title><%= content_for?(:title) ? yield(:title) : "SHARESPACE" %></title>
    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag :application %>
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Lato" rel="stylesheet">
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div class="header_wrapper">
      <div class="logo_left">
        <%= link_to "SHARE", root_url %>
      </div>
      <div class="logo_right">
        <%= link_to "SPACE", root_url%><!--#Link to needs to be changed-->

      </div>
      <div id="login_user_status">
        <% if user_signed_in? %>
            <%= current_user.email  %>
            |
            <%= link_to "Sign out", destroy_user_session_path %>
        <% else %>
            <em>Not Signed in.</em>
            <%= link_to 'Sign in', new_user_session_path%>
            or
            <%= link_to 'Sign up', new_user_registration_path%>
        <% end %>
      </div>
    </div>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
